<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SANTO PIXEL | BAND</title>
    <link rel="stylesheet" href="/css/style.css?v=1"/>
    <link rel="icon" type="image/png" href="/img/SoloCabeza.png">
    <script src="/js/script.js" defer></script>
    <!-- Recarga Debuger  <meta http-equiv="refresh" content="5"> -->
  </head>
<body>
<div class="container">
<header class="header-principal">
<pre class="glitch-text">
 ____              _        ____  _          _ 
/ ___|  __ _ _ __ | |_ ___ |  _ \(_)_  _____| |
\___ \ / _` | '_ \| __/ _ \| |_) | \ \/ / _ \ |
 ___) | (_| | | | | || (_) |  __/| |>  <  __/ |
|____/ \__,_|_| |_|\__\___/|_|   |_/_/\_\___|_|
</pre>

</header>
<main>
    <div class="main">
        <div class="terminal-logs">
            <div class="log-entry">
              <span class="timestamp">[04:04]</span> Iniciando protocolo de musica...
            </div>
            <div class="log-entry">
              <span class="timestamp">[05:00]</span> Localización actual: Santiago de Compostela.
            </div>
            <div class="log-entry blink" style="color: yellow">
              <span class="timestamp_Advertencia">[WARNING]</span> Flow excedido. Rock detectado.
            </div>
                <div class="nav-links">
                    <a id="dado" href="/SantoDado" class="cmd-btn">[ /SANTODADO.PDF ]</a>    
                    <a id="instagram" href="https://www.instagram.com/santo_pixel_/" class="cmd-btn">[ /INSTAGRAM.EXE ]</a>
                    <a id="soundcloud" href="https://soundcloud.com/santo-pixel" class="cmd-btn">[ /SOUNDCLOUD.OGG ]</a>
                    <a id="youtube" href="https://www.youtube.com/@Santo_Pixel" class="cmd-btn">[ /YOUTUBE.MIDI ]</a>
                    <a id="twitter" href="https://x.com/Santo_Pixel_" class="cmd-btn">[ X||TWITTER.TXT ]</a>
                    <!--Me la pela, para mi no es X y sigue siendo twitter-->
                    <a id="tiktok" href="https://www.tiktok.com/@loud_santopixel" class="cmd-btn">[ /TIKTOK_LOGS ]</a> 
                </div>
            </div>
        </div>
        <div class="videos-container">
            <iframe 
              id="Ultimo-Video"
              class="video-flexible"
              src="https://www.youtube.com/embed/u4ecB57jFhI?si=oeA8qzuXjqcZoNQe" 
              title="Reproductor de vídeo de YouTube" 
              frameborder="0" 
              allowfullscreen>
            </iframe>
        </div>
        <div class="partners">
            <h3> > SYSTEM RESOURCES (POWERED BY):</h3>
            <div class="sponsor-grid"></div>
            <p style="font-size: 0.75rem; color: #999999; margin-top: 10px">
            root@santopixel:~$ sudo apt-get install any-sponsor<br />
            <span class="blink" style="font-size: 0.8rem">Waiting for handshake...</span>
            </p>
        </div>
    </div>
    <footer>
      &copy; <%= Time.now.year %> Santo Pixel && SantoDado | Santiago de Compostela
    </footer>
</main>
<div class="carousel-left">
    <div class="track">
        <div class="miniatura">
            <a href="#">
                <img class="img-base" src="https://i.etsystatic.com/30753957/r/il/0a0e42/6052212684/il_fullxfull.6052212684_ltk0.jpg"/>
                <img class="img-hover" src="https://i.etsystatic.com/30753957/r/il/0a0e42/6052212684/il_fullxfull.6052212684_ltk0.jpg"/>
            </a>
        </div>
    </div>
</div>
<div class="carousel-right">
    <div class="track">
        <div class="miniatura">
            <a href="#">
                <img class="img-base" src="https://i.etsystatic.com/30753957/r/il/0a0e42/6052212684/il_fullxfull.6052212684_ltk0.jpg"/>
                <img class="img-hover" src="https://i.etsystatic.com/30753957/r/il/0a0e42/6052212684/il_fullxfull.6052212684_ltk0.jpg"/>
            </a>
        </div>
    </div>
</div>
</body>
</html>