<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SANTO DADO | TEAM</title>
    <link rel="stylesheet" href="/css/styleDado.css?v=1"/>
    <link rel="icon" type="image/png" href="/img/SoloCabeza.png">
    <script src="/js/script.js" defer></script>
    <!-- Recarga Debuger  <meta http-equiv="refresh" content="5"> -->
  </head>
<body>
<div class="container">
<header class="header-principal">
<pre class="glitch-text">
 ____              _        ____            _       
/ ___|  __ _ _ __ | |_ ___ |  _ \  __ _  __| | ___  
\___ \ / _` | '_ \| __/ _ \| | \ |/ _` |/ _` |/   \ 
 ___) | (_| | | | | || (_) | |_/ / (_| | (_| | X_X )
|____/ \__,_|_| |_|\__\___/|____/ \__,_|\__,_|\___/                                                   
</pre>
</header>

<main>
    <div class="main">
        <div class="terminal-logs">
            <div class="log-entry">
              <span class="timestamp">[04:04]</span> Iniciando protocolo Rol.exe...
            </div>
            <div class="log-entry">
              <span class="timestamp">[05:00]</span> Localización actual: Santiago de Compostela.
            </div>
            <div class="log-entry blink" style="color: yellow">
              <span class="timestamp_Advertencia">[WARNING]</span> Dado Rodando. Pifia Inminente.
            </div>
                <div class="nav-links">
                    <a id="pixel" href="/" class="cmd-btn">[ /SANTOPIXEL.MP3 ]</a> 
                    <a id="reddit" href="https://www.reddit.com/user/Santo_Dado_Team/" class="cmd-btn">[ /REDDIT.ISO ]</a>
                    <a id="youtube" href="https://www.youtube.com/@SantoDado" class="cmd-btn">[ /YOUTUBE.AVI ]</a>    
                    <a id="tiktok" href="https://santo-dado-team.itch.io/" class="cmd-btn">[ /ITCH.IO ]</a>
                    <!--<a id="twitter" href="#" class="cmd-btn">[ /DRIVETHRU.RPG ]</a>-->
                    <a id="instagram" href="https://www.instagram.com/santo_dado_team/" class="cmd-btn">[ /INSTAGRAM.MOV ]</a>
                </div>
            </div>
        </div>
        <div class="videos-container">
            <iframe 
              id="Ultimo-Video"
              class="video-flexible"
              src="https://www.youtube.com/embed/u4ecB57jFhI?si=oeA8qzuXjqcZoNQe" 
              title="Reproductor de vídeo de YouTube" 
              frameborder="0" 
              allowfullscreen>
            </iframe>
        </div>
        <div class="partners">
            <h3> > SYSTEM RESOURCES (POWERED BY):</h3>
            <div class="sponsor-grid"></div>
            <p style="font-size: 0.75rem; color: #999999; margin-top: 10px">
            root@santopixel:~$ sudo apt-get install any-sponsor<br />
            <span class="blink" style="font-size: 0.8rem">Waiting for handshake...</span>
            </p>
        </div>
    </div>
    <footer>
      &copy; <%= Time.now.year %> Santo Pixel && SantoDado | Santiago de Compostela
    </footer>
</main>
</body>
</html>